[user]
        name = zhangningboo
        email = zhangningbo21@mails.ucas.ac.cn
# 最新地址发布站: https://ghproxy.link/
[url "https://ghfast.top/github.com"]
        insteadOf = https://github.com
[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f